.slide {
  box-sizing: border-box;
  height: 98%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  top: 1%;
  left: 0;
  z-index: -5;
}

.slide_0 {
  background-image: url("https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");


}
.slide_1 {
  background-image: url("https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&auto=format&fit=crop&w=1387&q=80");

}
.slide_2 {
  background-image: url("https://images.unsplash.com/photo-1527507516-4de2af31545c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");

}
.slide_3 {
  background-image: url("https://images.unsplash.com/photo-1534157458714-42b1e9cd5727?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

}


.side_arrow {
  position: absolute;
  top: 50%;
  z-index: 15;
  border: solid black;
  border-width: 0 2.5px 2.5px 0;
  padding: 10px;
  cursor: pointer;

}

.left_arrow {
  transform: rotate(135deg);
  left: 2%;
}

.right_arrow {
  right: 2%;
  transform: rotate(-45deg);
}


.slider_info_wrapper {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 10%;
  height: auto;

}


#product_title {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  color: black;
  position: relative;
  z-index: 10;
}

#product_link {
  display: inline-block;
  width: auto;
  z-index: 10;
  position: relative;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  margin-top: 3px;
}

.circle_button_container {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 5%;
  z-index: 15;
  text-align: center;
}

.circle_button {
  display: inline-block;
  margin: 5px;
  padding: 15px;
  border: 1.2px solid black;
  border-radius: 500px;
  cursor: pointer;
  outline: none;
}

.active_button {
  background-color: #333;
  transition: 0.7s;
}

.inactive_button {
  background-color: Transparent;
  transition: 0.7s;
}


@media only screen and (max-width: 800px) {
  .circle_button_container {
    display: none;
  }


}
