* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: 1%;
  top: 1%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 27fr;
  grid-template-areas:
    "header"
    "menu"
    "main"
}


main {
  position: relative;
  grid-area: 2 / 1 / -1 / -1;
  z-index: 0;

}


header {
  position: relative;
  grid-area: header;
  text-align: center;
  background-color: white;
  z-index: 15;
}

nav {
  grid-area: menu;
  background-color: white;
  display: none;
  z-index: 15;
}



.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-links li a {
  font-family: verdana;
  color: black;
  font-size: 2vh;
  text-decoration: none;
}

.menu_button_container {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 50px;
  width: 4vw;
  max-width: 100px;
  height: 100%;
  cursor: pointer;

}

.menu_bar {
  position: absolute;
  width: 90%;
  height: 15%;
  border-radius: 8px;
  background-color: #333;
  margin: 0;
  transition: 0.4s;
  left: 5%;

}

.bar1 {
  top: 15%;
}

.bar2 {
  top: 45%;
}

.bar3 {
  top: 75%;
}

.menu_button_container.change .bar1 {
  transform: rotate(-45deg);
  top: 48%;
}

.change .bar2 {opacity: 0;}

.menu_button_container.change .bar3 {
  transform: rotate(45deg);
  top: 48%;
}



.page_title {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  font-family: Arial;
  color: #2a2a2a;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;

}

.title_upper {
  margin-top: 0.5vh;
  font-size: 3vh;
}

.title_lower {
  font-size: 2vh;
}

@media only screen and (max-width: 800px) {
  body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

  }
  nav {
    grid-area: 2 / 1 / -1 / -1;
  }
  .nav-links {
      flex-direction: column;
  }

  .menu_button_container {
    position: absolute;
    left:auto;
    right: 2vw;
  }
}
